@model PFStudentServis.Models.Student
 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login</title>

    @Styles.Render("~/css/bootstrap.min.css")
    @Styles.Render("~/Content/css")
    

    <style>
        #login-div {
            position: absolute;
            background-color: antiquewhite;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }

        #naslov-div {
            background-color: antiquewhite;
            position: absolute;
            left: 20%;
            top: 20%;
        }

        .field-validation-error {
            color: crimson;
        }

        img.resize {
            width: 30%; /* you can use % */
            height: auto;
        }

       
    </style>
</head>
<body>
    
        <h2 class="bg-primary text-center " >WEB SERVIS STUDENATA PRAVNOG FAKULTETA</h2>
        <div class="container">

            <div class="panel panel-default col-md-6">
                <div class="panel-body">


                    <section id="loginForm">
                        @using (Html.BeginForm("Autorizacija", "Login", FormMethod.Post))
                {
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.BrojIndeksa, new { @class = "control-label" })
                            </div>
                            <div class="col-md-10">

                                @Html.TextBoxFor(model => model.BrojIndeksa, new { @class = "form-control form-control-lg" })
                                @Html.ValidationMessageFor(model => model.BrojIndeksa, "", new { @class = "text-danger" })
                            </div>




                            <div class="form-group col-lg-6">
                                @Html.LabelFor(model => model.JMBG, new { @class = "control-label" })
                            </div>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.JMBG, new { @class = "form-control form-control-lg" })
                                @Html.ValidationMessageFor(model => model.JMBG, "", new { @class = "text-danger" })


                                <div>
                                    @Html.ActionLink("Lista studenata", "Index", "Students")<br />
                                    @Html.ActionLink("Lista nastavnika", "Index", "Nastavniks")<br />
                                    @Html.ActionLink("Lista predmeta", "Index", "Predmets")<br />
                                    @Html.ActionLink("Lista termina", "Index", "Termins")<br />
                                </div>


                                <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                            </div>

                            <div class="form-group col-lg-6">
                                <input type="submit" name="name" value="Uloguj se" class="btn btn-success" />
                                <input type="reset" name="name" value="Obriši" class="btn btn-danger" />
                            </div>

                        </form>
                    </div>
        }
                        <img style="width: 60%;" src="~/image/kljuc-pf.png" class="img-responsive center-block" alt="login">
                    </section>

                </div>
            </div>

            <div class="panel panel-default col-md-6">
                <div class="panel-body">

                    @*<div class="iframe">
                    <iframe src="http://servisi.pf.uns.ac.rs/SSluzba/Novosti.jsp" frameborder="0"></iframe>
                </div>*@

                    <iframe height="1450" width="500" frameborder="0"
                            scrolling="no" style="padding-top: 0px; float: left;" target="_blank" src="http://servisi.pf.uns.ac.rs/SSluzba/Novosti.jsp"></iframe>
                </div>
            </div>

            <script src="~/Scripts/jquery-1.10.2.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
